section.subPage_content
  .container-own
    .wrap_content
      .info_block_left
        h3 Инженерная геология:
        ul
          li Бурение скважин в промышленных помещениях;
          li Шнековое и колонковое бурение скважин глубиной до 20-25 м;
          li Лабораторные исследования грунта;
          li Составление отчетности;
          li Штампоопыт;
          li Трассирование.
        h3 Геофизические работы:
        ul
          li Каротаж скважин;
          li Аэрогеофизическая разведка.
      .info_block_right
        h3 Инженерная геодезия:
        ul
          li Съемка подземных и наземных инженерных коммуникаций;
          li Топографические работы;
          li Топографическая съемка в промышленных помещениях;
          li Трассирование.
