section.subPage_content
  .container-own
    .wrap_content
      .info_block_left
        h3 Инженерная геология:
        ul
          li бурение скважин в промышленных помещениях;
          li шнековое и колонковое бурение скважин глубиной до 20-25 м;
          li лабораторные исследования грунта;
          li составление отчетности;
          li штампоопыт;
          li трассирование.
        h3 Геофизические работы:
        ul
          li каротаж скважин;
          li аэрогеофизическая разведка.
      .info_block_right
        h3 Инженерная геодезия:
        ul
          li съемка подземных и наземных инженерных коммуникаций;
          li топографические работы;
          li топографическая съемка в промышленных помещениях;
          li трассирование.
    
