|<?php /*
|  Template Name: Строительство
|*/?>

doctype html
html(lang!="RU-ru")
  head
    include sections/header.jade
  body
    a(name="topSite")
    include sections/menu.jade
    include building/header_subpage.jade
    include building/another_page.jade
    include building/content_nedro.jade
    include sections/feedback_sub.jade
    include building/ready_projects.jade
    include sections/fix_menu.jade
    include sections/footer_block.jade
