|<?php /*
|  Template Name: Государственный сектор
|*/?>

doctype html
html(lang!="RU-ru")
  head
    include sections/header.jade
  body
    a(name="topSite")
    include sections/menu.jade
    include gos_sector/header_subpage.jade
    include gos_sector/another_page.jade
    include gos_sector/content_nedro.jade
    include sections/feedback_sub.jade
    include gos_sector/ready_projects.jade
    include sections/fix_menu.jade
    include sections/footer_block.jade
