section.subPage_content
  .container-own
    .wrap_content
      .info_block_left
        h3 Аэрофотосъемка:
        ul
          li создание подробных карт любых масштабов;
          li создание 3d моделей города;
          li контроль целевого использования земельных участков, выявление незаконных построек;
          li обследования ЛЭП и теплотрасс;
          li мониторинг состояния дорожного покрытия;
          li обследование железнодорожного полотна, мостов и других значимых объектов.
    
