section.subPage_content
  .container-own
    .wrap_content
      .info_block_left
        h3 Аэрофотосъемка:
        ul
          li Создание подробных карт любых масштабов;
          li Создание 3d моделей города;
          li Контроль целевого использования земельных участков, выявление незаконных построек;
          li Обследования ЛЭП и теплотрасс;
          li Мониторинг состояния дорожного покрытия;
          li Обследование железнодорожного полотна, мостов и других значимых объектов.
