section.another_page
  .container-own
    .wrap_another
      a(href="http://тест.kz/shaider/gos_sector/").another_block
        img(src!="<?php echo get_template_directory_uri();?>/images/2_services.jpg")
        h3 Государственный сектор
      a(href="http://тест.kz/shaider/nedrouser/").another_block
        img(src!="<?php echo get_template_directory_uri();?>/images/1_services.jpg")
        h3 Недропользователь
      a(href="http://тест.kz/shaider/building/").another_block
        img(src!="<?php echo get_template_directory_uri();?>/images/3_services.jpg")
        h3 Промышленное и гражданское строительство
