section.subPage_content
  .container-own
    .wrap_content
      .info_block_left
        h3 Аэрофотосъемка:
        ul
          li Мониторинг водных ресурсов;
          li Отслеживание уровня вод, паводков и зон затопления;
          li Обследование гидротехнических сооружений;
          li Оценка запасов лесных ресурсов;
          li Обнаружение браконьерских вырубок, сухостоя и заболоченных зон;
          li Мониторинг охраняемых территорий;
          li Инвентаризация сельскохозяйственных угодий;
          li Мониторинг состояния посевов;
          li Расчет NDVI.
