section.subPage_content
  .container-own
    .wrap_content
      .info_block_left
        h3 Аэрофотосъемка:
        ul
          li мониторинг водных ресурсов;
          li отслеживание уровня вод, паводков и зон затопления;
          li обследование гидротехнических сооружений;
          li оценка запасов лесных ресурсов;
          li обнаружение браконьерских вырубок, сухостоя и заболоченных зон;
          li мониторинг охраняемых территорий;
          li инвентаризация сельскохозяйственных угодий;
          li мониторинг состояния посевов;
          li расчет NDVI
    
