section.subPage_content
  .container-own
    .wrap_content
      .info_block_left
        h3 Проектирование и разработка добычи полезных ископаемых:
        ul
          li разработка проекта;
          li согласование и получение разрешительной документации;
          li согласование экологического раздела;
          li подсчет запасов ГКЗ;
        h3 Подземные работы:
        ul
          li профильная съемка проводников;
          li проверка подъемных установок;
          li подсчет объема подземных выработок;
          li гироскопическое ориентирование;
          li передача высотных отметок.
      .info_block_right
        h3 Геофизические работы:
        ul
          li каротажные работы;
          li геофизическая разведка.
        h3 Маркшейдерия и аэрофотосъемка:
        ul
          li подсчет объемов и мониторинг земляных работ;
          li выявление линейных структур, оценка горизонтальных и вертикальных смещений;
          li наблюдение за устойчивостью бортов карьеров;
          li вынос проекта в натуру.
    
