section.subPage_content
  .container-own
    .wrap_content
      .info_block_left
        h3 Проектирование и разработка добычи полезных ископаемых:
        ul
          li Разработка проекта;
          li Согласование и получение разрешительной документации;
          li Согласование экологического раздела;
          li Подсчет запасов ГКЗ.
        h3 Подземные работы:
        ul
          li Профильная съемка проводников;
          li Проверка подъемных установок;
          li Подсчет объема подземных выработок;
          li Гироскопическое ориентирование;
          li Передача высотных отметок.
      .info_block_right
        h3 Геофизические работы:
        ul
          li Каротажные работы;
          li Геофизическая разведка.
        h3 Маркшейдерия и аэрофотосъемка:
        ul
          li Подсчет объемов и мониторинг земляных работ;
          li Выявление линейных структур, оценка горизонтальных и вертикальных смещений;
          li Наблюдение за устойчивостью бортов карьеров;
          li Вынос проекта в натуру.
