section#feedback
  .form
    h3 Хотите получить скидку? Оставьте заявку
    form
      label#name_label
        input(type="text" id="name_form" required placeholder="Ваше имя")
      label#tel_label
        input(type="tel" id="tel_form" required placeholder="Телефон")
      label#mail_label
        input(type="mail" id="email_form" required placeholder="E-mail")
      input(type="submit" id ="submit_form" value="Отправить")
