section#menu.fix_menu
  footer
    .wrap.container-own
      nav
        a(href="/shaider/").anchor Главная
        a(href="/shaider/services/") Услуги
        a(href="/shaider/projects/") Выполненные работы
        a(href="/shaider/#contact").anchor Контакты
      .sal
        .social
          a(href="https://www.instagram.com/geomarksheyderr/" target="_blank"): img(src!="<?php echo get_template_directory_uri();?>/images/inst.png")
          a(href="https://www.facebook.com/profile.php?id=100014247016132" target="_blank"): img(src!="<?php echo get_template_directory_uri();?>/images/facebook.png")
          a(href="https://vk.com/aerofotosemkag" target="_blank"): img(src!="<?php echo get_template_directory_uri();?>/images/vk.png")
        .lang
          span.selected RU
          span: a(href="#") KZ
          span: a(href="#") ENG
