script(src!="<?php echo get_template_directory_uri();?>/libs/jquery/dist/jquery.min.js")
script(src!="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js")
script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
script(src!="<?php echo get_template_directory_uri();?>/libs/fancybox/source/jquery.fancybox.pack.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.js")
script(src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.3/leaflet.markercluster.js")
script(src!="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js")
script(src!="<?php echo get_template_directory_uri();?>/bundle.js")
