footer#footer
  .container-own
    .wrap
      h3 «Группа компаний комплексного инжиниринга» — 2017
      .social
        a(href="https://www.instagram.com/geomarksheyderr/" target="_blank"): img(src!="<?php echo get_template_directory_uri();?>/images/inst_green.png").insta.icon
        a(href="https://www.facebook.com/profile.php?id=100014247016132" target="_blank"): img(src!="<?php echo get_template_directory_uri();?>/images/facebook_green.png").facebook.icon
        a(href="https://vk.com/aerofotosemkag" target="_blank"): img(src!="<?php echo get_template_directory_uri();?>/images/vk_green.png").vk.icon
      a(href="http://mindpro-group.com" target="_blank"): img(src!="<?php echo get_template_directory_uri();?>/images/mind_logo.png")

#mail.not_visible_mail
| <script crossorigin="anonymous" async type="text/javascript" src="//api.pozvonim.com/widget/callback/v3/156564c23da9f60b4aab3e946e3efb4e/connect" id="check-code-pozvonim" charset="UTF-8"></script>
