header#services_header
  .container-own
    h3 Услуги
    .slider_lent
      .slider_elem.active
        img(src!="<?php echo get_template_directory_uri();?>/images/services_1.png")
        h4 Геология
      .slider_elem
        img(src!="<?php echo get_template_directory_uri();?>/images/services_2.png")
        h4 Аэрофотосъемка
      .slider_elem
        img(src!="<?php echo get_template_directory_uri();?>/images/services_3.png")
        h4 Геофизика
      .slider_elem
        img(src!="<?php echo get_template_directory_uri();?>/images/services_4.png")
        h4 Продажа оборудования
    .slider_lent
      .slider_elem
        img(src!="<?php echo get_template_directory_uri();?>/images/services_5.png")
        h4 Геодезия, маркшейдерия
      .slider_elem
        img(src!="<?php echo get_template_directory_uri();?>/images/services_6.png")
        h4 Горное дело, проектирование добычи
      .slider_elem
        img(src!="<?php echo get_template_directory_uri();?>/images/services_7.png")
        h4 Геомеханика
      .slider_elem
        img(src!="<?php echo get_template_directory_uri();?>/images/services_8.png")
        h4 Обучение и сопровождение
