section#pref
  .container-own
    header
      img(src!="<?php echo get_template_directory_uri();?>/images/title_pref.png")
    footer
      ul
        li
          img(src!="<?php echo get_template_directory_uri();?>/images/1_pref.png").icon
          .info
            h3 Комплексность
            p Мы предоставялем для Вас решения по всем направлениям инженерной геодезии и геологии.
        li
          img(src!="<?php echo get_template_directory_uri();?>/images/2_pref.png").icon
          .info
            h3 Надежность
            p Уже сейчас нас выбирают крупнейшие компании Казахстана.
        li
          img(src!="<?php echo get_template_directory_uri();?>/images/3_pref.png").icon
          .info
            h3 Инновации, которые работают на Вас
            p Мы следим за инновациями и успешно внедряем их в свою работу.
        li
          img(src!="<?php echo get_template_directory_uri();?>/images/4_pref.png").icon
          .info
            h3 Экономия
            p Новейшее оборудование позволяет нашим клиентам сокращать сроки реализации проектов до 10 раз, без потери качества!
        li
          img(src!="<?php echo get_template_directory_uri();?>/images/5_pref.png").icon
          .info
            h3 Опыт
            p Выполняя работы, мы опираемся не только на собственный опыт, но и на опыт партнеров других стран.
        li
          img(src!="<?php echo get_template_directory_uri();?>/images/6_pref.png").icon
          .info
            h3 Гарантии качества
            p Мы сопровождаем своих клиентов на протяжении 12 месяцев после выполнения работ.
