section#slider_services
  .container-own
    .slider_services
      .slider_elem_content
        h3 Геология
        .wrap_info
          ul
            li Инженерно-геологические изыскания;
            li Гидрогеологические изыскания;
            li Геологическое сопровождение буровых работ;
          ul
            li Поисково-оценочные, геологоразведочные работы: проектирование и бурение;
            li Геологическая рекогносцировка, разведка, съемка, режимные наблюдения;
            li Бурение скважин различных видов и назначений, в том числе в промышленных помещениях.
        .device
          h3 Используемое оборудование
          .slider_elem_inner
            h4 Установка буровая УРБ 2А2
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/geology/4.jpg")
          .slider_elem_inner
            h4 Установка буровая УБШ 1.13
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/geology/3.jpg")
          .slider_elem_inner
            h4 Прессиометр электровоздушный ПЭФ-89МК
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/geology/2.jpg")
          .slider_elem_inner
            h4 Полевая лаборатория
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/geology/1.jpg")
      .slider_elem_content
        h3 Аэрофотосъемка
        .wrap_info
          ul
            li Создание топографических карт любых масштабов;
            li Создание 3D-моделей городов;
            li Фасадная и интерьерная съемка;
            li Контроль целевого использования земельных участков, выявление незаконных построек, самозахвата земли и несовпадения фактических границ в кадастре;
            li Выявление незаконных свалок мусора;
            li Тепловизионные обследования ЛЭП и теплотрасс;
            li Мониторинг состояния дорожного покрытия;
            li Обследование железнодорожного полотна, мостов и других значимых объектов.
            li Мониторинг водных ресурсов;
            li Цифровая картография;
            li Мониторинг горных работ;
          ul
            li Сопровождение геологоразведочных работ;
            li Отслеживание уровня вод, паводков и зон затопления;
            li Обследование гидротехнических сооружений;
            li Оценка запасов лесных ресурсов;
            li Обнаружение браконьерских вырубок, сухостоя и заболоченных зон;
            li Мониторинг охраняемых территорий;
            li Инвентаризация сельскохозяйственных угодий;
            li Мониторинг состояния посевов;
            li Планирование мелиоративных мероприятий;
            li Обследование посевов;
            li Сопровождение и контроль агротехнических мероприятий.
        .device
          h3 Используемое оборудование
          .slider_elem_inner
            h4 Беспилотный летательный аппарат GEOSCAN 101
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/aero/1.png")
          .slider_elem_inner
            h4 Беспилотный летательный аппарат GEOSCAN 201
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/aero/2.png")
          .slider_elem_inner
            h4 Квадрокоптер GEOSCAN 401
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/aero/3.png")
      .slider_elem_content
        h3 Геофизика
        .wrap_info
          ul
            li Каротажные работы в скважинах на ТПИ;
            li Аэромагниторазведка.
        .device
          h3 Используемое оборудование
          .slider_elem_inner
            h4 Квадрокоптер GEOSCAN 401
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/aero/3.png")
          .slider_elem_inner
            h4 Установка буровая УБШ 1.13
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/geology/3.jpg")
      .slider_elem_content
        h3 Продажа оборудования
        h4 Наша компания является официальным представителем компании Геоскан, что даем нам право на реализацию оборудования выпускаемого данной компанией.
        .wrap_info
          ul
            li ГЕОСКАН 101. Компактный  беспилотный летательный аппарат для аэрофотосъемки и 3D моделирования небольших территорий;
            li ГЕОСКАН 101 Геодезия. Законченное решение для аэрофотосъемки и 3D моделирования, включает в себя полнокадровый фотоаппарат и геодезический ГНСС приемник;
            li ГЕОСКАН 201. Комплекс, созданный для съемки обширных территорий и линейно-протяженных объектов;
            li ГЕОСКАН 201 Геодезия. Законченное решение для аэрофотосъемки и 3D моделирования, включает в себя полнокадровый фотоаппарат и геодезический ГНСС приемник Topcon;
            li ГЕОСКАН 201 Видео. Комплекс, для видеонаблюдения в режиме реального времени;
          ul
            li ГЕОСКАН 201 Агро. Специальное решение для сельскохозяйственной промышленности;
            li ГЕОСКАН 401. Комплекс для получения 3D-моделей локальных объектов и фотомониторинга;
            li ГЕОСКАН 401 Геодезия. Законченное решение для аэрофотосъемки и 3D моделирования, включает в себя полнокадровый фотоаппарат и геодезический ГНСС приемник Topcon;
            li ГЕОСКАН 401 Видео. Комплекс, для видеонаблюдения в режиме реального времени.
        .device
          .slider_elem_inner
            h4 Беспилотный летательный аппарат GEOSCAN 101
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/aero/1.png")
          .slider_elem_inner
            h4 Беспилотный летательный аппарат GEOSCAN 201
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/aero/2.png")
          .slider_elem_inner
            h4 Квадрокоптер GEOSCAN 401
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/aero/3.png")
      .slider_elem_content
        h3 Геодезия, маркшейдерия
        .wrap_info
          ul
            li Аэрофотосъёмочные, аэрофотогеодезические работы на низких высотах;
            li Топографические съемки любых масштабов;
            li Инженерно-геодезическая съемка железных и автомобильных дорог, линий электропередачи, линий связи, магистральных трубопроводов, зданий и сооружений;
            li Выполнение разбивочных работ и исполнительных съемок;
            li Замер и аудит остатков полезного ископаемого на складах;
            li Специальные виды работ при реконструкции и строительстве железнодорожных путей, автомобильных дорог, зданий и сооружений;
            li Камеральное и полевое трассирование линейных объектов;
            li Создание съемочных геодезических сетей разных классов точности;
          ul
            li Профильная съемка проводников стволов;
            li Проверка шахтных подъемных установок;
            li Подсчет объема подземных выработок;
            li Подсчет объемов вынутой горной массы и контроль ведения открытых горных пород;
            li Гироскопическое ориентирование;
            li Замеры подготовительных и очистных выработок;
            li Сопровождение и контроль БВР.
        .device
          h3 Используемое оборудование
          .slider_elem_inner
            h4 Комплект R7 GPS приемник база и ровер
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/mark/1.jpg")
          .slider_elem_inner
            h4 Тахеометр LEICA TC407
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/mark/3.jpg")
          .slider_elem_inner
            h4 Тахеометр NIKON NIVO 5M
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/mark/4.jpg")
          .slider_elem_inner
            h4  Металлоискатель грунтовый GARRETT ACE250
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/mark/2.jpg")
          .slider_elem_inner
            h4 Трассопоисковый комплекс «СТАЛКЕР 75-02М»
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/mark/5.jpg")
      .slider_elem_content
        h3 Горное дело, проектирование добычи
        .wrap_info
          ul
            li Составление технико-экономического обоснования (ТЭО) кондиций;
            li Подсчет запасов с утверждением в ГКЗ Респубкик Казахстан;
            li Согласование в государственных контролирующих органах, получение подтверждающей документации;
            li Разработка проектов промышленной разработки месторождений;
          ul
            li Составление проектов горных отводов;
            li Составление проектов консервации месторождений;
            li Разработка проектов рекультивации/ликвидации.
      .slider_elem_content
        h3 Геомеханика
        .wrap_info
          ul
            li Обследование и наблюдение за деформациями бортов уступов и отвалов, отдельных элементов конструкции, зданий (сооружений) в целом;
            li Наблюдение за сдвижением толщи горных пород, земной поверхности;
            li Научно-исследовательские работы по мониторингу состояния устойчивости откосов уступов, бортов и отвалов.
        .device
          h3 Используемое ПО и оборудование
          .slider_elem_inner
            h4 Установка буровая УБШ 1.13
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/geology/3.jpg")
          .slider_elem_inner
            h4 Беспилотный летательный аппарат GEOSCAN 101
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/aero/1.png")
          .slider_elem_inner
            h4 Комплект R7 GPS приемник база и ровер
            .wrap
              img(src!="<?php echo get_template_directory_uri();?>/images/services/mark/1.jpg")
      .slider_elem_content
        h3 Обучение и сопровождение
        .wrap_info
          ul
            li Обучение по использованию программы «Фотограмметрическая обработка материалов аэрофотосъемочных работ в ПО AgisoftPhotoscan»;
            li Обучающие курсы по управлению и эксплуатации беспилотного летательного аппарата;
            li Внедрение на предприятиях беспилотных аэрофотосъемочных комплексов; фотограмметрического программного обеспечения и программного обеспечения для визуализации и анализа данных аэрофотосъемки;
            li Техническая поддержка беспилотных летательных аппаратов.
